@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Core6Music.Web.ViewModels.AllPlayListViewModels
@using Microsoft.AspNetCore.Identity;

@inject UserManager<MusicUser> UserManger
@inject SignInManager<MusicUser> SignInManager
@{
    string Path = "~/Image/PlayList/";
    var total =1;
}
<div class="row row-cols-1 row-cols-md-6 g-4">
    @foreach (var item in Model.musicManifests)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@(Path + item.Image)" asp-append-version="true" class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    @if (item.Name == null)
                    {
                       
                       <h5 class="card-title">我的播放清單 #@(total++)</h5>
                        
                    }
                    else
                    {
                        <h5 class="card-title">@item.Name</h5>
                    }


                    <p class="card-text"><small class="text-muted">共有 @item.musicManifestSongs.Count() 首</small></p>
                    <a asp-action="DetailPlayList" asp-controller="MusicUser" asp-route-Id="@item.Id" class="btn btn-primary">來去聆聽</a>
                </div>
            </div>
        </div>
    }

   
    <div class="col">
        <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">我喜歡的歌曲</h5>
                 <p class="card-text"><small class="text-muted">共有 @Model.favoriteSongs.Count() 首</small></p>
                <a asp-action="FavoriteSong" asp-controller="MusicUser" class="btn btn-primary">來去聆聽</a>
            </div>
        </div>
    </div>

</div>