@model Core6Music.Web.Areas.Dashboard.ViewModels.AllArtistsViewModels;

@{
    ViewData["Title"] = "Index";
    string BPath = "~/Image/Artist/BackImage/";
    string CPath = "~/Image/Artist/ContextImage/";
    string HPath = "~/Image/Artist/HeadImage/";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context)
            </th>
            
            <th>
                專輯
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Artists) {
        <tr>
            <td width=500>
                <div class="container bd-example-row text-center">
                    <div class="row ">
                        <div class="text-center col" >
                                <img src="@(BPath+item.artistBackImages.ImageName)" width="100%" height="250px" asp-append-version="true" style="border-radius:50%">
                        </div>
                        <div class="text-center col text-center">
                                <p>@item.Name</p>
                        </div>
                    </div>
                </div>
                   
            </td>
            <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@item.Id">
                        更多內容...
                    </button>
                    <div class="modal fade" id="@item.Id" tabindex="-1" aria-labelledby="MusciContextTitle" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="MusciContextTitle">@item.Name</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid bd-example-row">
                                        <div class="row">
                                            <div class="md-16"> <img src="@(BPath+item.artistBackImages.ImageName)" width="100%" height="100%" asp-append-version="true"></div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="md-16">@item.Context</div>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            @if (item.FaceBook != null)
                                            {
                                                <li class="list-group-item"><a href="@item.FaceBook">FaceBook</a></li>
                                            }
                                            @if (item.Instagram != null)
                                            {
                                                <li class="list-group-item"><a href="@item.Instagram">Instagram</a></li>
                                            }
                                             @if (item.Twitter != null)
                                            {
                                                <li class="list-group-item"><a href="@item.Twitter">Twitter</a></li>
                                            }
                                            @if (item.Wikipedia != null)
                                            {
                                                <li class="list-group-item"><a href="@item.Wikipedia">Wikipedia</a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
           
          
            <td>
                @if(item.albums.Count == 0)
                {
                        <a asp-action="Create" asp-controller="Albums" asp-route-ArtistId="@item.Id">新增專輯</a>
                            
                }else{
                        <a asp-action="Index" asp-controller="Albums" asp-route-ArtistId="@item.Id">現在專輯:@item.albums.Count()</a>
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>

