@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Core6Music.Web.Models.Album>
@using Core6Music.Web.DateContext.Enum;

@{
    string AbPath = "~/Image/Album/";
    string mp3Path = "~/MP3/";
}

@foreach(var item in Model)
{
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="@(AbPath + item.Image)" class="d-block mx-lg-auto img-fluid" asp-append-version="true" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">@item.Name</h1>
        <p class="lead">@((AlbumCategory)item.albumCategory).@item.songs.Count() 首歌曲</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
    <div class="bd-example">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">名字</th>
                    <th scope="col"></th>
                    <th scope="col">時間長度</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Mitem in item.songs)
                {
                    <tr>

                        <td>
                            <div class="container bd-example-row text-center">
                                <div class="row">
                                    <div class="text-center col">
                                        <img src="@(AbPath+Mitem.Album.Image)" width="40px" height="40px" asp-append-version="true">

                                    </div>



                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="text-center col text-center">
                                <p>@Mitem.Name</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <audio controls="controls" src="@(mp3Path + Mitem.Mp3NameFile)" preload="none">


                                    Your browser does not support this audio format.
                                </audio>
                            </div>
                        </td>
                        <td>
                            <div>
                                @Mitem.SongTime.Minutes : @Mitem.SongTime.Seconds
                            </div>
                        </td>

                    </tr>
                }

            </tbody>

        </table>
    </div>
}
<script>
    var audios = document.getElementsByTagName("audio");
    // 暂停函数
    function pauseAll() {
        var self = this;
        [].forEach.call(audios, function (i) {
            // 将audios中其他的audio全部暂停
            i !== self && i.pause();
        })
    }
    // 给play事件绑定暂停函数
    [].forEach.call(audios, function (i) {
        i.addEventListener("play", pauseAll.bind(i));
    })
</script>
