@model Core6Music.Web.ViewModels.IndexMusciViewModels
@using Core6Music.Web.DateContext.Enum
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime dateTime = DateTime.Now.ToLocalTime();
    string AbiumPath = "~/Image/Album/";
    string HeadArtistPath = "~/Image/Artist/HeadImage/";
}

@if(dateTime.Hour <= 12  ){
    <h1> 早安</h1>
}
else if (dateTime.Hour > 12 && dateTime.Hour < 17){
    <h1> 午安</h1>
}else{
    <h1> 晚安</h1>
}
<h1 class="display-4">專輯</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach(var item in Model.albums){
     <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="@(AbiumPath+item.Image)"width="100px" height="300px"  asp-append-version="true" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@((AlbumCategory)item.albumCategory)</p>
                    <a asp-action="AlbumDetail" asp-route-AlbumId="@item.Id" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
    </div>
}
</div>
<h1 class="display-4">藝人</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach (var item in Model.artists)
    {
    <div class="col">
        <div class="card" style="width: 18rem;">
                @if (item.artistHeadImages != null)
                {
                    <img src="@(HeadArtistPath+item.artistHeadImages.ImageName)"width="100px" height="300px"  asp-append-version="true" class="card-img-top" />
                }
                else
                {
                   <img src="" asp-append-version="true" class="card-img-top" />
                }
                
         
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                
                <a asp-action="AritstDetail" asp-route-ArtistID="@item.Id" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
}

</div>
