@model Core6Music.Web.Areas.Dashboard.ViewModels.AllSongViewModels

@{
    ViewData["Title"] = "Index";
    TimeSpan totaltime = new TimeSpan(Model.songs.Sum(x => x.SongTime.Ticks));
   
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-AdlumId="@Model.AlbumId">Create New</a>
    @totaltime.Hours 小時 @totaltime.Minutes 分鐘 @totaltime.Seconds 秒
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.songs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
